<header class="header">
  <div class="header-inner">
    <a href="./index.html" class="logo">
      <img src="./assets/img/logos/logo-header.png" alt="Peru Nature">
    </a>

    <nav>
      <a href="./index.html">Inicio</a>
      <a href="./all-experiences.html">Destinos</a>
      <a href="./quote-packages.html">Paquetes</a>
      <a href="./mi-reserva.html">Mi reserva</a>
      <a href="https://wa.me/51900608980" target="_blank" rel="noopener" class="header-cta">
        Contactar
      </a>
    </nav>
  </div>
</header>
