<form class="pn-search" id="pnSearchForm">
  <div class="pn-search-tabs">
    <button type="button" class="pn-tab is-active" data-tab="tours">Tours</button>
    <button type="button" class="pn-tab" data-tab="paquetes">Paquetes</button>
    <button type="button" class="pn-tab" data-tab="hoteles">Hoteles</button>
  </div>

  <div class="pn-search-box">
    <div class="pn-field pn-field--search">
      <label>Destino</label>
    
      <input
        type="text"
        id="pnDestinoInput"
        placeholder="¿A dónde quieres viajar?"
        autocomplete="off"
      />
    
      <div class="pn-autocomplete" id="pnAutocomplete"></div>
    </div>

    <div class="pn-field">
      <label>Fecha</label>
      <input type="date" id="pnFecha">
    </div>

    <div class="pn-field">
      <label>Viajeros</label>
      <select id="pnViajeros">
        <option value="1">1 viajero</option>
        <option value="2" selected>2 viajeros</option>
        <option value="3">3 viajeros</option>
        <option value="4">4 viajeros</option>
        <option value="5">5+ viajeros</option>
      </select>
    </div>

    <button type="submit" class="pn-search-btn">
      Buscar
    </button>
  </div>
</form>
