body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--bg-dark);
  color: var(--text-main);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: var(--bg-gradient);
  position: relative;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, rgba(126,217,87,0.2), transparent 60%);
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.hero h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.hero p {
  color: var(--text-secondary);
  margin-bottom: 30px;
}
